<%
const search = new _.EcomSearch()
search
  .setCategoryNames([_.state.name])
  .setSortOrder(opt.sort)
const categoryNames = [_.state.name]
const childCategories = _.categories.filter(({ parent }) => {
  return parent && parent._id === _.state._id
})
if (childCategories.length) {
  childCategories.forEach(({ name }) => {
    categoryNames.push(name)
  })
}
%>

<div class="category-retail">
  <%- await include('@/sections/inc/retail-grid', {
    _, opt: {
      items: [],
      search,
      category_names: categoryNames,
      sort: opt.sort
    }
  }) %>
</div>
